<a href="https://colab.research.google.com/github/Felipehl04/CODES-OF-DATA-VISTUALIZATION-/blob/main/02_Pyhton_Vairables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is a variable?**
A variable is a ¨Container¨, in the sense that it *stores* valeus.

## **2. Declaration**

In [1]:
#Example  
a = 2.57
print("The approximation of",8.53214794, "by adding adding consecutively decimal is:")
for i in range(0,8):print(i, "\t",round(8.53214794,i))

The approximation of 8.53214794 by adding adding consecutively decimal is:
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [2]:
#Example
num = 8.53214794
pi = 0
pf = 7

In [3]:
print("The approximation of",num, "by adding adding consecutively decimal is:")
for i in range(pi,pf+1):print(i, "\t",round(num,i))

The approximation of 8.53214794 by adding adding consecutively decimal is:
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [32]:
# Example
x = y = z = 45
print(x,y,z)

45 45 45

In [10]:
# Example - remplace values
z = 17

# **3. Delet and Clear**

In [33]:
# Example - delete

del x, y

In [19]:
#Example - Clear

%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

# **4. Naming**

## 4.1 Conditions and restrictions

In [26]:
# Example - always a name of varibale must start with a  letter 

age = 18

## 4.2 Best practices 

*Case sensitive

In [27]:
# Example

Age = 78
AGE = 23
# Sug: always use lower case

* COMPOUND NAMES

In [35]:
# Example

price_jean = 150000

**5. Data Types**

**5.1 integers**

**5.2 Float**

**Patenthesis:** A trick

In [40]:
# Example - set up

w=0

In [45]:
# Example

w -= 2
print(w)

4

**5.3 Text**

In [47]:
# Example 

name = "Universidad de la salle"
print(name)

Universidad de la salle

In [54]:
name[0]
name[12]
name[-2]

'l'

In [57]:
name[0:12]

'Universidad '

In [61]:
name.split()[0:4]

['Universidad', 'de', 'la', 'salle']