<a href="https://colab.research.google.com/github/Felipehl04/CODES-OF-DATA-VISTUALIZATION-/blob/main/Copia_de_04_DS_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. DS and Pandas**

it is the Excel of Phyton.

In [1]:
# Libraries 

import numpy as np
import pandas as pd

#**2. Series**

A *series* is a one dimensional object

## 2.1 Series creation

In [ ]:
# Empty series

emp = pd.Series
print(emp)

<class 'pandas.core.series.Series'>

In [ ]:
# Create a series by typing values

print("Location","Result")
s_int = pd.Series([1,2,3,4,5,6,7,8,9]) 
print(s_int)

s_name = pd.Series(["Esteban", "Luisa", "Tatiana"])
print(s_name)

Location Result
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
0    Esteban
1      Luisa
2    Tatiana
dtype: object

In [ ]:
# Cr
s_rand = pd.Series (np.random.rand(10))
print(s_rand)

0    0.670013
1    0.610049
2    0.524273
3    0.278968
4    0.689108
5    0.448189
6    0.638758
7    0.548528
8    0.655970
9    0.523332
dtype: float64

## 2.2 Indexing

In [ ]:
# Check the index of a series

s_rand.index

RangeIndex(start=0, stop=10, step=1)

In [ ]:
# Create your own index
new_index = ["A", "B", "C"]
s_name= s_name.set_axis(new_index)
print(s_name)

A    Esteban
B      Luisa
C    Tatiana
dtype: object

## 2.3 Select and Slice

In [ ]:
#Simple selection
s_name["A"]

'Esteban'

In [ ]:
# select diferent elements 
s_rand[[4,6]]

4    0.689108
6    0.638758
dtype: float64

In [ ]:
# Anothe way

s_rand[:3]

0    0.670013
1    0.610049
2    0.524273
dtype: float64

# **3. Pandas time-series**

## 3.1 Indexing Pandas time-series|

In [2]:
# Create a date range 

pd.date_range(start = "01/01/2023", end = "28/03/2023")

/usr/local/lib/python3.9/dist-packages/IPython/core/interactiveshell.py:3326: UserWarning: Parsing '28/03/2023' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  exec(code_obj, self.user_global_ns, self.user_ns)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10', '2023-02-11', '2023-02-12', '2023-02-13',
               '2023-02-14', '2023-02-15', '2023-02-16', '2023-02-17',
               '2023-02-18', '2023-02-19', '2023-02-20', '2023-02-21',
               '2023-02-22', '2023-02-23', '2023-02-24', '2023-02-25',
               '2023-02-26', '2023-02-27', '2023-02-28', '2023-03-01',
               '2023-03-02', '2023-03-03', '2023-03-04', '2023-03-05',
               '2023-03-06', '2023-03-07', '2023-03-08', '2023-03-09',
               '2023-03-10', '2023-03-11', '2023-03-12', '2023-03-13',
               '2023-03-14', '2023-03-15', '2023-03-16', '2023-03-17',
               '2023-03-18', '2023-03-19', '2023-03-20', '2023-03-21',
               '2023-03-22', '2023-03-23', '2023-03-24', '2023-03-25',
               '2023-03-26', '2023-03-27', '2023-03-28'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# Another way
pd.date_range(start = "01/01/2023", periods = 32)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01'],
              dtype='datetime64[ns]', freq='D')

In [10]:
# another another way 

pd.date_range(start = "01/01/2023", periods = 32, freq = "Q")

DatetimeIndex(['2023-03-31', '2023-06-30', '2023-09-30', '2023-12-31',
               '2024-03-31', '2024-06-30', '2024-09-30', '2024-12-31',
               '2025-03-31', '2025-06-30', '2025-09-30', '2025-12-31',
               '2026-03-31', '2026-06-30', '2026-09-30', '2026-12-31',
               '2027-03-31', '2027-06-30', '2027-09-30', '2027-12-31',
               '2028-03-31', '2028-06-30', '2028-09-30', '2028-12-31',
               '2029-03-31', '2029-06-30', '2029-09-30', '2029-12-31',
               '2030-03-31', '2030-06-30', '2030-09-30', '2030-12-31'],
              dtype='datetime64[ns]', freq='Q-DEC')

## 3.2 Aasgin a time-serie index

In [16]:
# Create dates

my_dates = pd.date_range(start = "01/03/2023", periods =15)

#Create an object 
sales = pd.Series(np.random.randint(low = 200, high = 250, size = 15),
                  index = my_dates)

print(sales)

2023-01-03    241
2023-01-04    230
2023-01-05    217
2023-01-06    247
2023-01-07    204
2023-01-08    209
2023-01-09    242
2023-01-10    208
2023-01-11    216
2023-01-12    243
2023-01-13    240
2023-01-14    249
2023-01-15    208
2023-01-16    216
2023-01-17    242
Freq: D, dtype: int64

# **4.Practical case- simulation**

# 4.2 Create the simulation

A simulation of the price a financial asset.

* Firts, create the dates:

In [36]:
## Create a dalay series of date from 2021 until today 

#Saves "Today"

td = pd.to_datetime("today").strftime("%m/%d/%Y")

#Create the date range

dr = pd.date_range(start = "01/01/2021", end = td)
nd = len(dr)

* Second, simulate the price

In [37]:
# price with returns ~ N(mu,sigma^2)

# Moments

mu = 0.001; sigma = 0.01
##Returns 
r = np.random.normal(mu, sigma, size = nd)

## Price
s = np.empty(nd)
s[0] = 100

for i in range(1,nd):
  s[i] = s[i-1]*np.exp(r[i])

* third, put together dates and prices

In [41]:
# Create the time series 
s = pd.Series(s , index = dr)
s.head()

2021-01-01    100.000000
2021-01-02    101.165371
2021-01-03     99.518601
2021-01-04    100.329909
2021-01-05     98.823775
Freq: D, dtype: float64