<a href="https://colab.research.google.com/github/Felipehl04/CODES-OF-DATA-VISTUALIZATION-/blob/main/PhytonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INTRODUCTION 

HERE IN THIS FILE, WE ARE GOING TO *CODE*

WE ARE GOING TO UNDERSTAND Python, how it works, and some tricks.

#1. what is Phyton 

it was created in 1991 and it is a **General-purpouse programming lenguage**

This mean that pyton is used for:

*Data analysis
*automating task
*machinne learning
*Data visualizattion
*Optimization
*Web Development
*User interfaces creation
*Create another software
*Create video games

The wolrd runs on Python (++, java and HTLM / CSS, and R?

#2. Why pyhton 

the main reasons:

*it is simple
*Focus
*Easy to learn
*Open-source: it is free.
*Cross-plataform
*Extense libraries.

# 3. Getting Started

## 3.1 Pyton as a Calculator

In [ ]:
# Addition
2 + 2

4

In [ ]:
# Subtraction
23 - 7

16

In [ ]:
# Multiplication
13 * 7

91

In [ ]:
# Division
10 / 3

3.3333333333333335

In [ ]:
# Integer division
10 // 3

3

In [ ]:
# Exponnential
2**3

8

## 3.2 COMPOSITE OPERTAIONS AND PARENTHESIS

Operator precedence

In [ ]:
# Example 
2 + 3*4

14

You can change the operator precendece using **parenthesis**

In [ ]:
# Example
(2 + 3)*4

20

## 3.3 Integers and Real Numbers

In [ ]:
# Intengers (whit no decimal positions)
type(26)

int

In [ ]:
# Real number (with decimal positions)
type (26.0)

float

In [ ]:
# Examples
# Find out if the next expressions are int or floats
2 + 3.0
2.5*7
4.0/2

In [ ]:
type(2 + 3.0)

float

In [ ]:
type(2.5*7)

float

In [ ]:
type(4.0/2)

float

## Scientific notation

In [ ]:
# Example
5e1

50.0

In [ ]:
# Example 
6e-2

0.06

In [ ]:
type (5e1)

float

In [ ]:
# Practica
#write 1millon in scientific notation
#what is the result of 3e.02

In [ ]:
#write 1millon in scientific notation
1e6

1000000.0

In [ ]:
#what is the result of 3e0.2
3.e0.2

SyntaxError: ignored

In [ ]:
### Transformation
 You can changue the Type() of a number. or you can force a Type() of a number

In [ ]:
float(6)

6.0

In [ ]:
#Example 
int(3.33333)

3

## 3.4 Basic and useful fuctions

Fuctioms lets us do things more efficiently.

### **print**

In [8]:
#Example whit numbers
print(2023)
print(2024)
print(22,2,2022)

2023
2024
22 2 2022

In [9]:
## EXAMPLE
for i in range (0,11): print(i)

0
1
2
3
4
5
6
7
8
9
10

In [13]:
# EXAMPLE - WHIT TEXT
print("HELLO WOLD")
print("Fisrt name: juan","Second Name:Felipe")
print("Fisrt name: juan","\tSecond Name:Felipe") 
print("Fisrt name: juan","\nSecond Name:Felipe")

HELLO WOLD
Fisrt name: juan Second Name:Felipe
Fisrt name: juan 	Second Name:Felipe
Fisrt name: juan
Second Name:Felipe

In [14]:
# Eample - Text and numbers
print("My lucky number is:", 88)

My lucky number is: 88

### **Round**

It will tle us to control the decimal positions.

In [16]:
# Example 
# Consider 8.53214794
# Let´s use round

round(8.53214794,0)

9.0

In [26]:
#EXAMPLE 1
print(round(8.53214794,0))
print(int (round(8.53214794,0)))
#EXAMPLE 2
print("The approximation of",8.53214794, "whit",0,"decimal is",round(8.53214794,0))
#EXAMPLE 3
print("The approximation of",8.53214794, "whit",1,"decimal is",round(8.53214794,1))

9.0
9
The approximation of 8.53214794 whit 0 decimal is 9.0
The approximation of 8.53214794 whit 1 decimal is 8.5

In [36]:
print("The approximation of",8.53214794, "by adding adding consecutively decimal is:")
print(0,"\t",round(8.53214794,0))
print(1,"\t",round(8.53214794,1))
print(2,"\t",round(8.53214794,2))
print(3,"\t",round(8.53214794,3))

The approximation of 8.53214794 by adding adding consecutively decimal is:
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532

In [53]:
print("The approximation of",8.53214794, "by adding adding consecutively decimal is:")
for i in range(0,8):print(i, "\t",round(8.53214794,i))

The approximation of 8.53214794 by adding adding consecutively decimal is:
0 	 9.0
1 	 8.5
2 	 8.53
3 	 8.532
4 	 8.5321
5 	 8.53215
6 	 8.532148
7 	 8.5321479

In [62]:
print("The 100 multples of 2")
for i in range(1,101):print(i, "\t",2*i)

The 100 multples of 2
1 	 2
2 	 4
3 	 6
4 	 8
5 	 10
6 	 12
7 	 14
8 	 16
9 	 18
10 	 20
11 	 22
12 	 24
13 	 26
14 	 28
15 	 30
16 	 32
17 	 34
18 	 36
19 	 38
20 	 40
21 	 42
22 	 44
23 	 46
24 	 48
25 	 50
26 	 52
27 	 54
28 	 56
29 	 58
30 	 60
31 	 62
32 	 64
33 	 66
34 	 68
35 	 70
36 	 72
37 	 74
38 	 76
39 	 78
40 	 80
41 	 82
42 	 84
43 	 86
44 	 88
45 	 90
46 	 92
47 	 94
48 	 96
49 	 98
50 	 100
51 	 102
52 	 104
53 	 106
54 	 108
55 	 110
56 	 112
57 	 114
58 	 116
59 	 118
60 	 120
61 	 122
62 	 124
63 	 126
64 	 128
65 	 130
66 	 132
67 	 134
68 	 136
69 	 138
70 	 140
71 	 142
72 	 144
73 	 146
74 	 148
75 	 150
76 	 152
77 	 154
78 	 156
79 	 158
80 	 160
81 	 162
82 	 164
83 	 166
84 	 168
85 	 170
86 	 172
87 	 174
88 	 176
89 	 178
90 	 180
91 	 182
92 	 184
93 	 186
94 	 188
95 	 190
96 	 192
97 	 194
98 	 196
99 	 198
100 	 200
1 	 7
2 	 12
3 	 17
4 	 22
5 	 27
6 	 32
7 	 37
8 	 42
9 	 47

In [64]:
for i in range(1,10):print(i, "\t",2*i+5/2)

1 	 4.5
2 	 6.5
3 	 8.5
4 	 10.5
5 	 12.5
6 	 14.5
7 	 16.5
8 	 18.5
9 	 20.5